body {
    text-align: center;
    font-family: 'Open Sans';
    background-color: #C8DBE5;
}
    
#loginArea {
    width: 30%;
    min-width: 350px;
    max-width: 500px;
    border: 8px #5F584E solid;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0.2em 0.2em 0.4em #dddddd;
    padding: 10px 20px;
    background-color: #ffffff;
}    

#footer {
    width: 30%;
    min-width: 366px;
    max-width: 516px;
    color: #ffffff;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #5F584E; 
    margin: 0 auto 20px auto;
}

#footer a {
    color: white;
}

@media (max-width: 400px) {
    #loginArea {
        margin: 0px auto;
        width: 80%;
        min-width: 0;
    }

    #footer {
        margin: 10px auto 0px auto;
        width: 80%;
        min-width: 0;
    }
}

select {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #fff;
    background: #5F584E;
    padding: 5px;
    border-radius: 0px;
    margin-top: 15px;
}

select:focus {
    outline-width: 0;
}
/* Top level is idpSelectIdPSelector */
#idpSelectIdPSelector
{
    text-align: center;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em #dddddd;
  color: #F57F21; /* official GENI orange */
}

/* Next down are the idpSelectPreferredIdPTile, idpSelectIdPEntryTile & idpSelectIdPListTile */

/** 
 * The preferred IdP tile (if present) has a specified height, so
 * we can fit the preselected * IdPs in there
 */
/*#idpSelectPreferredIdPTile
{
    height:138px;  Force the height so that the  selector box
                   * goes below when there is only one preslect 
                   
}

#idpSelectPreferredIdPTileNoImg
{
    height:60px;
}
*/
/***
 *  The preselect buttons
 */
div.IdPSelectPreferredIdPButton
{
    width: 100px;  /* Make absolute because 3 of these must fit inside 
                      div.IdPSelect{width} with not much each side. */
    margin: 20px auto;
}

/*
 *  Make the entire box look like a hyperlink
 */
div.IdPSelectPreferredIdPButton a
{
    display: block;
    width: 100%; 
}

div.IdPSelectTextDiv{
    font-size: 15px;
    vertical-align: bottom;
}

img.IdPSelectIdPImg {
   width:auto;
}

div.IdPSelectPreferredIdPButton img
{
    display: block;
    width: 100%;
    border: solid 0px #000000;
}

div.IdPSelectPreferredIdPButton div.IdPSelectTextDiv
{
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    max-width: 95%;
}

/*
 * Force the size of the selectors and the buttons
 */
#idpSelectInput, #idpSelectSelector
{
    width: 80%;
}

#idpSelectSelectButton, #idpSelectListButton
{
    -webkit-appearance:none;
    outline: none; 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 800;
    padding: 5px 10px;
    color: white !important;
    background-color: #F57F21;
    box-shadow: 0px 0px 5px #5F584E;
    text-align: center;
    border: none;
    border-radius: 3px;
    margin: 20px auto;
    cursor: pointer;
}

#idpSelectSelectButton:hover, #idpSelectListButton:hover {
  background-color: #E17000 !important;
}

/*
 * change underlining of HREFS
 */
#idpSelectIdPSelector a:link 
{
    text-decoration: none;
}

#idpSelectIdPSelector a:visited 
{
    text-decoration: none;
}

#idpSelectIdPSelector a:hover 
{
    text-decoration: underline;
}

/* 
 * Arrange to have the dropdown/list aref on the left and the 
 * help button on the right 
 */

a.IdPSelectDropDownToggle
{
    display: inline-block;
    width: 80%;
}

/**
 * Drop down (incremental search) stuff - see the associated javascript for reference
 */
ul.IdPSelectDropDown {
    -moz-box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    box-sizing: border-box;
    list-style: none;
    padding-left: 0px;
    border: 1px solid black;
    z-index: 6;
    position: absolute;   
}

ul.IdPSelectDropDown li {
    background-color: white;
    cursor: default;
    padding: 0px 3px;
}

ul.IdPSelectDropDown li.IdPSelectCurrent {
    background-color: #3366cc;
    color: white;
}

/* Legacy */
div.IdPSelectDropDown {
    -moz-box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    box-sizing: border-box;
    border: 1px solid black;
    z-index: 6;
    position: absolute;   
}

div.IdPSelectDropDown div {
    background-color: white;
    cursor: default;
    padding: 0px 3px;
}

 div.IdPSelectDropDown div.IdPSelectCurrent {
    background-color: #3366cc;
    color: white;
}
/* END */
